.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;

  .auth-logo {
    transform: scale(1.4);
  }

  .auth-title {
    font-size: 24px;
    font-weight: bold;
    line-height: 2;
  }

  .auth-tips {
    font-size: 14px;
  }

  .auth-input {
    width: 350px;
    margin: 3vh 0;

    // &:focus-visible {
    //   border: 1px solid var(--primary) !important;
    // }
  }

  .auth-input + .auth-input {
    margin-top: 0;
  }

  .auth-actions {
    width: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    button:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .auth-agreement-container {
    display: flex;
    align-items: center; /* 垂直居中对齐 */
    margin-bottom: 3vh;
  }

  .auth-agreement-checkbox {
    margin-right: 8px;
  }

  .auth-agreement {
    margin-left: 4px;
    font-size: 14px;
    color: var(--primary); /* 设置链接文字颜色 */
    text-decoration: none; /* 移除下划线 */
    transition: color 0.3s; /* 添加颜色渐变过渡效果 */
  }

  .auth-agreement:hover {
    text-decoration: underline; /* 鼠标悬停时添加下划线 */
  }

  .auth-agreement-popupButton {
    padding-top: 8px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
